#POO o Progamación Orientada a Objetos
Clase es comoun molde
* Variables--> Atributos
* Funciones --> métodos
* Constructor --> Constituye una clase
* Objetos: Comparten atributos, métodos. realciones, tienen una identidad propia

In [1]:
class Mascotas():
  pass

In [2]:
a=Mascotas
b=Mascotas

In [3]:
if a==b:
  print("Son igualitos")
else:
  print("No son igualitos")

Son igualitos

In [4]:
class Empleado():
  #Construyendo un constructor
  def __init__(self,nombre,edad,id,salario):
    self.nombre=nombre
    self.edad=edad
    self.id=id
    self.salario=salario

  def __repr__(self):
    return f"nombre:{self.nombre},edad:{self.nombre},id:{self.id},salario:{self.salario}"

In [5]:
sonia=Empleado("Sonia",25,"U00152314",10000000)

In [6]:
print(sonia)

nombre:Sonia,edad:Sonia,id:U00152314,salario:10000000

In [25]:
sonia.nombre

'Sonia'

In [7]:
madaniel=Empleado("Pirulais",83,"U001512345",1000000)

In [11]:
if sonia.salario==madaniel.salario:
  print(f"El salario de {madaniel.nombre} y {sonia.nombre} son iguales")
elif sonia.salario>madaniel.salario:
   print(f"El salario de {madaniel.nombre} es menor al de {sonia.nombre} ")
else:
   print(f"El salario de {madaniel.nombre} es mayor al de {sonia.nombre}")

El salario de Pirulais es menor al de Sonia

In [42]:
class Fraccion():
  #Atributos de clase
  num=0
  den=1

  #Creando el constructor

  def __init__(self,num=0,den=1):
    self.num=num
    self.den=den

  def multiplica(self,b):
    num=self.num*b.num
    den=self.den*b.den
    r=Fraccion(num,den)
    return r
  def imprime(self):
    print(self.num,"/",self.den)

In [44]:
#Creando objetos tipo Fracción
a1=Fraccion(4,5)
a2=Fraccion(8,9)

In [45]:
a1.imprime()
a2.imprime()

4 / 5
8 / 9

In [47]:
c=a1.multiplica(a2)
c.imprime()

32 / 45